* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  color: #222;
  height: 100vh;
}

/* LAYOUT GERAL */
.layout {
  display: grid;
  grid-template-columns: 0px 1fr;
  grid-template-rows: 92px 1fr; /* HEADER +15% */
  height: 100vh;
  transition: grid-template-columns 0.3s ease;
}

.layout.sidebar-open {
  grid-template-columns: 260px 1fr;
}

/*  HEADER */
.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  height: 92px;
  background-color: #a4e0ac;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 10;
}

/*LOGO + SEARCH */
.logo-search {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  flex-shrink: 0;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #f5f7f2;
  border-radius: 20px;
  padding: 8px 15px;
  gap: 10px;
}

.search-bar input {
  border: none;
  outline: none;
  background: transparent;
}

/* ===== TÍTULO + BOTÕES ===== */
.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-title {
  font-size: 1.2rem;
  font-weight: 600;
  white-space: nowrap;
}

/* BOTÕES */
.header-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.header-buttons button {
  background-color: #4b6330;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.header-buttons button:hover {
  background-color: #5c3b00;
}
.sidebar-toggle:hover{
   background-color: #5c3b00; 
}
/* BOTÃO SIDEBAR */
.sidebar-toggle {
  background-color: #4b6330;
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  color: #fff;
}

/*  SIDEBAR  */
.sidebar {
  position: fixed;
  top: 92px;
  left: 0;
  width: 260px;
  height: calc(100vh - 92px);
  background-color: #4b6330;
  padding: 20px;
  color: #fff;

  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 100;
}

.layout.sidebar-open .sidebar {
  transform: translateX(0);
}

/* SIDEBAR HEADER */
.sidebar-header {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

/* MENU */
.sidebar-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px; 
}

/* ITEM DO MENU */
.rect-holder {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 12px 20px;
  border-radius: 8px;
  background-color: #3f5230;
  color: #fff;
  text-decoration: none;
  transition: background 0.3s;
}

/* ÍCONE */
.rect-holder svg {
  font-size: 1.1rem;
  flex-shrink: 0;
}

/* HOVER / ATIVO */
.rect-holder:hover,
.rect-holder.active {
  background-color: #5c3b00;
}

/*  CONTEÚDO */
.content {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
  padding: 20px;
  overflow-y: auto;
}

/* PÁGINAS */
.page h1 {
  font-size: 2rem;
}
