
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #222;
  background-color: #f4f4f4;
  height: 100vh;
}


.dashboard {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}


.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  background-color: #4b6330;
  color: #fff;
  padding: 20px;

  display: grid;
  grid-template-rows: 80px 1fr;
}

.sidebar-header {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.3rem;
}

.sidebar-menu ul {
  list-style: none;
  display: grid;
  gap: 15px;
  margin-top: 30px;
}

.sidebar-menu li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar-menu li:hover {
  color: #eee209;
}


.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  background-color: #a4e0ac;
  padding: 20px 40px;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  gap: 15px;
}


.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;

  background-color: #f5f7f2;
  border-radius: 20px;
  padding: 8px 15px;
  max-width: 500px;
}

.search-bar input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 0.9rem;
}


.user-info {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: flex-end;
}

.user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


.welcome {
  display: flex;
  align-items: center;
  gap: 15px;
}

.welcome img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.welcome p {
  font-size: 0.9rem;
  color: #5c3b00;
}

.welcome h2 {
  font-size: 1.2rem;
  color: #5c3b00;
}


.header-buttons {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}

.header-buttons button {
  background-color: #4b6330;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 8px 18px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.header-buttons button:hover {
  background-color: #5c3b00;
}



.main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  background-color: #f9f9f9;
  padding: 30px;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  gap: 30px;
}


.projects {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.projects h3 {
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 70px;
}

.card {
  background-color: #f7f3f3;
  border-left: 6px solid #4b6330;
  border-radius: 10px;
  padding: 70px;
  display: grid;
  gap: 10px;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card h4 {
  font-size: 1rem;
  font-weight: 700;
}

.card p {
  font-size: 0.85rem;
  color: #555;
}

.card-icons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}


.announcements {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.announcement-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;

  display: grid;
  gap: 10px;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.announcement-card h4 {
  font-size: 0.95rem;
  font-weight: 600;
}

.announcement-card p {
  font-size: 0.8rem;
  color: #555;
}


.trending {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.trend-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;

  display: grid;
  gap: 15px;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.trend-card p {
  font-size: 0.85rem;
}

.trend-card span {
  font-size: 0.75rem;
  color: #777;
}
